<div class="row featuredProducts">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>新着商品</h4>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="owl-carousel featuredProductsSlider">
      <%= render  partial: 'potepan/shared/products_grid', collection: featured_products, as: :product, layout: 'featured-product-layout' %>
    </div>
  </div>
</div>
