<%= render 'banner' %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'featured-collection' %>
    <%= render partial: 'featured-product', locals: { featured_products: @featured_products } %>
    <%= render 'latest-articles' %>
  </div>
</section>
